.btn.btn--form {
  color: #cae5e2;
  background-color: #09463f;
  align-self: end;
  margin-top: 2.6rem;
  padding: 1.2rem;
}

/* #22e6cf */

.btn--form:hover {
  color: #09463f;
  background-color: #cae5e2;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/* ************************ */
/* ***HEADER SECTION********* */
/* ************************ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cae5e2;

  /* because we want headewr to be sticky later */
  height: 9.6rem;
  padding: 0 4.5rem;

  position: relative;
}
.logo {
  height: 2.4rem;
}
/* ************************ */
/* ***NAV  SECTION********* */
/* ************************ */
.main-nav-list {
  list-style: none;
  display: flex;

  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: var(--contrast-color2);
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--contrast-color1);
  color: #fff;
}
/* MOBILE NAV*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICK NAV*/
.sticky .header {
  position: fixed;
  /* FIXED esta posicion fija el elemento
   en la pagina y no se mueve*/
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ************END NAV************ */

/* ************************ */
/* ***HERO SECTION********* */
/* ************************ */

.section-hero {
  background-repeat: no-repeat;
  background: fixed;
  background-size: cover;
  background-position: right;
}
.hero {
  margin: 0 auto;
  height: 80rem;
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 9.6rem; */
  align-items: center;

  background: radial-gradient(
    var(--transparente-light-bg-color),
    var(--transparent-bg-color),
    var(--transparent-bg-color)
  );
}

.hero-text-box {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  color: #111;
  font-weight: 700;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 3rem;
}

.delivered-img {
  display: flex;
}
.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--contrast-color2);
  font-weight: 700;
}

/* ***********START SECTION TEST GRID******** */
.section-how {
  padding: 9.6rem 0;
}

/* .section-how div {
  background-color: aqua;
  font-size: 50px;
  padding: 100px;
} */

.container {
  /* este container es para centrar una seccion o un algpo al medio */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
  padding-bottom: 3.2rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2--col {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--col {
  grid-template-columns: repeat(3, 1fr);
}
/* *********** END SECTION TEST GRID******** */
/* 8888******************************************* */

/* ******************START HOW IT WORK SECTION*************** */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--light-bg-color);
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #666;
  /* color: #343a40 */
  margin-bottom: 9.6rem;
}

.step-img {
  width: 35%;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before {
  content: " ";

  background-color: var(--transparente-light-bg-color);
  border-radius: 50%;
  width: 60%;

  padding-bottom: 60%; /* es el 60% del width, nos permirira crear un cuadrado*/
  /* height: 60%; */

  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.step-img-box::after {
  content: " "; /* contente tiene que tener " "  , puede terner o no algo escrito adentro*/

  background-color: var(--light-bg-color);
  border-radius: 50%;
  width: 45%;
  padding-bottom: 45%; /* es el 60% del width, nos permirira crear un cuadrado*/
  /* height: 60%; */

  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  z-index: -1;
}

/* <!-- *************************** --> 
    <!-- START FEATURED SECTION -->
    <!-- ************************** --> */

.section-featured {
  margin: 5rem 0;
  padding: 9.6rem;
  background: radial-gradient(
    var(--transparente-light-bg-color),
    var(--transparent-bg-color)
  );
}
.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  text-align: center;
  color: var(--grey-purple-contrast);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 80%;
}

/* <!-- *************************** --> 
    <!-- START MEALS SECTION -->
    <!-- ************************** --> */

.section-meal {
  padding: 9.6rem 0;
}

.meal {
  /* box-shadow: 1rem 2.4rem 4.8rem rgba(1, 1, 1, 0.075); */
  box-shadow: 0 2.4rem 4.8rem #a4a6a5;
  border-radius: 11px;

  overflow: hidden;

  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.48rem #a4a6a5; /*para hacer que la sombre se alarge cuando se mueva la card*/
}

.grid.grid-meals {
  margin: 0 3rem 6rem 3rem;
}
.meal-text-box {
  padding: 3.2rem 3.2rem 4.8rem 4.8rem;
}

.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;

  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--paleo {
  background-color: #fab005;
}

.tag--vegan {
  background-color: #a9e34b;
}

.tag--pescatarian {
  background-color: blue;
  color: #fff;
}

.tag--gluten-free {
  background-color: purple;
  color: #fff;
}

.tag--lactose-free {
  background-color: brown;
  color: #fff;
}

.tag--keto {
  background-color: rgb(47, 165, 159);
}

.tag--fodmap {
  background-color: rgb(188, 18, 129);
  color: #fff;
}

.tag--kids {
  background-color: rgb(247, 239, 33);
}
.meal-img {
  width: 100%;
}
.meal-titlle {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-atributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-atribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--main-bg-color);
}

.diets {
  margin: 0 5rem;
  padding: 0 3rem;
  text-align: center;
}
.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.6rem;
  padding-bottom: 2rem;
}

.list-item {
  font-size: 1.8rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--main-bg-color);
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

.link:link,
.link:visited {
  color: var(--second-bg-color);
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
}

.text-align-center {
  text-align: center;
}

/* <!-- *************************** --> 
    <!-- START TESTIMONIAL SECTION -->
    <!-- ************************** --> */

.section-testimonials {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.cte-img-box {
  /* width: 62rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  row-gap: 4.8rem;

  column-gap: 8rem;
}

.testimonial-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 9.6rem;
}

.testimonial-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: -0.5px;
  color: #666;
  /* color: #343a40 */
  margin-bottom: 1.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.3px;
  color: #777;
  margin-bottom: 2.4rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1.6rem;
}

.gallery-item {
  overflow: hidden; /*para que la foto se scale sin salirse del cuadrado*/
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.7s;
}

.galery-img:hover {
  transform: scale(1.1);
}

/* ******************START PRICING SECTION*************** */

.section-pricing {
  padding: 9.6rem 0;
  background-image: url("/content/img/wallpaper/dose-juice-sTPy-oeA3h0-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.pricing-plan {
  border-radius: 11px;

  width: 75%;
}

.pricing-plan--started {
  justify-self: end;
  background-color: #fff;
  border: 3px solid transparent;
  padding: 4.6rem;
}

.pricing-plan--complete {
  justify-self: start;
  background-color: var(--transparente-light-bg-color);
  padding: 4.8rem;
  position: relative;

  overflow: hidden; /* para que no se ve los corners de cuadrado amarillo "best value"*/
}

.pricing-plan--complete::after {
  /*cuadrado amarillo "best value"*/
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -19%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  background-color: var(--second-bg-color);
  color: #fff;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: var(--second-bg-color);
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2em;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: -0.5px;
  color: #6f6f6f;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}
.price-add-info {
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #6f6f6f;
  text-align: center;
  background-color: var(--transparent-bg-color);
  border-radius: 1rem;
  padding: 1rem 3rem;
}
.list.check {
  flex-direction: column;
}
.section-feature-box {
  margin: 9.6rem auto;
  padding-top: 2rem;
  /* background-color: var(--transparent-bg-color); */
}

.heading-secondary.center {
  text-align: center;
  padding: 0;
  margin: 0;
}
.heading-feature-text {
  text-align: center;
  /* margin: 1rem auto 5rem auto; */
  padding: 0rem 5rem 15rem 5rem;
  font-size: 3rem;
  line-height: 1.8;
  letter-spacing: -0.5px;
  color: #333;
}
.grid.grid-feature-color {
  padding: 0 2rem;
  row-gap: 12rem;
}

.feature {
  background-color: #09463f;
  border-radius: 10px;
  padding: 5rem 3rem;
  position: relative;
}

.feature-icon {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--second-bg-color);
  height: 10rem;
  width: 10rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background-color: var(--transparente-light-bg-color);
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
  color: var(--light-bg-color);
}

.feature-text {
  font-size: 1.8rem;
  font-weight: ;
  line-height: 1.8;
  color: #fff;
}

/* ***************************************** */
/*              end PRICING SECTION        */
/*********************************************/

/* ------------ */

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  background-image: linear-gradient(
    to right bottom,
    var(--main-bg-color),
    var(--light-bg-color)
  );
  overflow: hidden;
}

.cta-img-box {
  background-image: url("/content/img/wallpaper/caju-gomes-QDq3YliZg48-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;

  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form button {
  width: 100%;
  padding: 1.4rem;
  font-size: 1.6rem;
}

/* ***************************************** */
/*              FOOTER                       */
/*********************************************/

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.4;
}

.address {
  margin-bottom: 2.4rem;
  /* font-weight: 500; */
  color: #111;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
